.cart-img{
  margin-left: 40px;
  margin-top: 10px;
  height: 120px;
  width: auto;
  border-radius: 20px 20px;
}

.footer{
  margin-top: 380px;
}

.quantity-but{
  border: none;
  background-color: transparent;
  border-radius: 50px 50px;
}

.remove-but, .buy-but{
  background-color: transparent;
  border-radius: 30px 30px;
  padding: 5px 25px;
}

.remove-but:hover{
  background-color: brown;
  border: brown;
}

.cart-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.buy-but:hover{
  background-color: rgb(154, 146, 128);
  border: rgb(154, 146, 128);
}




