.footer{
  margin-top: 144px;
}

.contacts{
  font-size: xx-large;
}

.contacts-container{
  margin-top: 70px;
}

.contacts svg {
  width: 50px; /* Set the width of the SVG */
  height: 50px; /* Set the height of the SVG */
  vertical-align: middle; /* Align SVG vertically with the text */
  margin-right: 10px; /* Add some space to the right of the SVG */
}

